.pageOne{
  display: flex;
  flex-direction: column;
  background: bisque;
  height: 95vh;
  justify-content: space-between;
}
.giftHeart {
  width: 70%;
  height: 20vh;
}

.joImg1 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.joImg1>img {
  width: 50%;
}

.fingerPrint{
  display: flex;
  justify-content: center;
  width: 100%;
}
.fingerPrint>button{
  all: unset;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #7618A1;
  border: 2px solid #7618A1;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 30px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24); 
  cursor: pointer; 
  outline: none; 
  transition: 0.2s all; 
}
.fingerPrint>button:active { 
  transform: scale(0.98); 
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
}
.fingerPrint>button:hover{
  background-color: #7618a141;
}
.fingerPrint>button>img {
  width: 30px;
}
.happybirthday {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}
.happybirthday>img{
  width: 70%;
}
/* .............................................................................. */
.pageTwo{
  display: flex;
  background: #e4ffc4;
  height: 95vh;
}
.popScreen{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popScreen>div{
  width: 90%;
  height: auto;
  border: 3px solid #366102b5;
  border-radius: 20px;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}
.popScreen>div>div{
  margin-bottom: 20px;
}
.popScreen h3,.popScreen p{
  margin: 0;
}
.closePopButton>button{
  color: #366102b5;
  border: 2px solid #366102b5;
  margin-top: 20px;
}
.pageTwo2{
  display: flex;
  background: #c2ebeb;
  height: 95vh;
  width: 100%;
  background-image: url("./assets/image3.png");
  background-size: cover;
  background-position: -155% 75%;	
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: space-between;
}
.pageTwo2 h4{
  margin: 5px;
  color: #0C468F;
  line-height: 40px;
  text-shadow: #d89800 1px 0 10px;
}
.pageTwo2 h5{
  margin: 5px;
  color: black;
  line-height: 40px;
  text-shadow: black 1px 0 10px;
}
.happy-birthday-gif{
  width: 70px;
    height: 70px;
    rotate: 120deg;
}
.openVideoBtn>button{
  color: #0C468F;
  border: 2px solid #0C468F;
  background-color: #d89800;
  margin-bottom: 30px;
}
/* .............................................................. */
.PageThree{
  display: flex;
  background: #efffb0;
  height: 95vh;
  width: 100%;
  flex-direction: column;
  /* align-items: center; */
}
.loveletter{
  width: 30%;
  height: 15vh;
  float: left;
}
.candle{
  width: 17%;
  height: 70px;
  margin-top: 30px;
}
.birthdayImgBanner{
  width: 90%;
  display: flex;
  align-self: center;
  margin-top: 10px;
  border: 5px solid #94C2F2;
  border-radius: 10px;
}
.loveloadingDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}
.loveloading{
  width: 10%;
  height: 30px;
}
.MuiOutlinedInput-root{
  height: 50px;
  border: 5px solid #94C2F2;
  outline: none;
}
.MuiOutlinedInput-root>input{
  padding: 0;
  font-size: 25px;
}
.viewPage{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.viewPage>button{
  color: #94C2F2;
  border: 2px solid #94C2F2;
  /* background-color: black; */
  margin-bottom: 40px;
}
.PageFour{
  background-color: #090909a1;
  background-image: url("./assets/IMG_20240731_071418.jpg");
  background-size: cover;
  height: 95vh;
  width: 100%;
  
}
.PageFour>div{
  height: 95vh;
  width: 100%;
  background-color: #090909a1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.PageFour>div>div{
  height: 90%;
  width: 85%;
  border: 5px solid white;
  border-radius: 20px;
  overflow-y: scroll;
  padding: 5px;
}
.PageFour span{
  font-size: 15px;
  /* margin-top: 10px; */
}
.header{
  position: sticky;
  top: 0;
  height: 30px;
  background-color: #ffffff66;
  text-align: center;
}
.span1{
  color: #ff31ff;
}
.span2{
  color: #57a9ff;
}
.span3{
  color: #2ec8ff;
}
.span4{
  color: #2ffe26;
}
.span5{
  color: #fcff08;
}
.span6{
  color: #ff9a2b;
}
.span7{
  color: white;
}
.span8{
  font-weight: bold;
  color: #ff00dd;
  text-align: center;
  margin-bottom: 20px;
}


.PageFive{
  height: 95vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FBD7D7;
}
.oldnewbirthday{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}
.oldnewbirthday>img{
  width: 90%;

}
.BIRTHDAYwISH{
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  line-height: 30px;
  font-weight: bold;
}
.BIRTHDAYwISH>span:nth-child(1){
  color: red;
  text-shadow: rgb(121, 121, 121) 1px 0 10px;
}
.BIRTHDAYwISH>span:nth-child(2){
  color: rgb(30, 0, 255);
  text-shadow: rgb(121, 121, 121) 1px 0 10px;
}
.BIRTHDAYwISH>span:nth-child(3){
  color: rgb(224, 3, 177);
  text-shadow: rgb(43, 42, 42) 1px 0 10px;
}
.BIRTHDAYwISH>span:nth-child(4){
  color: rgb(7, 170, 207);
  text-shadow: rgb(121, 121, 121) 1px 0 10px;
}
.dialoge>span{
  color: rgb(220, 132, 9);
  font-weight: bold;
}
/* ....................................................................................... */
.PageSix{
  width: 100%;
  height: 95vh;
  background-color: #fffbbb;
  background-image: url("./assets/image4.png");
  background-size: cover;
}
.PageSix>div{
  height: 95vh;
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}
.PageSix>div>div{
  display: flex;
  flex-direction: column;
  align-items: end;
  line-height: 30px;
}
.PageSix>div>div span{
  font-weight: bold;
}
.header2{
  position: absolute;
  color: #366102b5;
  top: 10px;
  border-bottom: 1px solid;
}
.header3{
  position: absolute;
  color: #0C468F;
  left: 25%;
  border-bottom: 1px solid;
}
.header4{
  color: #0C468F;
}
.iloveyougif{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70%;
}
.iloveyougif>img{
  width: 80%;
}
.loader{
  display: flex;
  justify-content: center;
  align-items: center;
}